.header {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b2d;
  width: 100vw;
  color: #fff;
}

.img{
  margin-left: 10px;
  height: 50px;
  width: '20%';
}

.searchContainer{
  display: flex;
  align-items: center; 
  justify-items: center;
}

.search{
  margin-right: 30px;
  width:15vw;
  background-color: #4e4e7ec0;
  border: none;
  border-radius: 8px;
  color: white;
}

.ico{
  margin-right: 10px;
}
