.header {
  display: flex;
  justify-content: space-between;
  background-color: #1b1b2d;
  width: 100vw;
  height: 5vh;
  color: #fff;
}

.img{
  height: 50px;
  width: '20%';
}

.search{
  display: flex;
  align-items: center;
  margin-right: 20px;
}
