.container {
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  border-width: 100%;
}
.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
}

.itemContainer:last-child {
  border-bottom: none;
}

.ico {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.svgAdd:hover {
  fill: yellow;
}
.svgRemove:hover {
  fill: gray;
}
