.modal {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
  width: 80%;
  height: 80%;
  z-index: 999;
  position: fixed;
  top: 10%;
  left: calc(50% - 40%);
  display: block !important;
  overflow-y: auto;
}

.body {
  display: flex;
  margin: 10px;
}

.contentLine {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.imgContainer {
  margin-right: 10px;
}

.img {
  border: 1px solid black;
  border-radius: 8px;
}

.epList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  /* padding-left: 10px; */
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 12px;
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 100%;
  height: 40px;
  border-width: 100%;
}
