.container {
  width: 50%;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1rem;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
}

.page-num {
  padding: 2px 8px 2px 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.page-num:hover {
  background-color: rgba(0, 255, 255, 0.75);
}
